{
    "extends": "standard",
    "plugins": [
        "standard",
        "promise"
    ],
    "globals":{
      "define": true
    },
    "rules": {
      "semi": [
        "error",
        "always"
      ],
      "one-var": [
        "error",
        "always"
      ]
    }
}
