{
    "extends": "standard",
    "plugins": [
        "standard",
        "promise"
    ],
    "globals":{
      "define": true,
      'Group' : true,
      'BasicElement' : true,
      'Element' : true
    },
    "rules": {
      "semi": [
        "error",
        "always"
      ],
      "one-var": [
        "error",
        "always"
      ],
      "no-unused-vars": ["warn"]
    }
}
